<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>CreationClient</servlet-name>
    <servlet-class>be.garageEnLigne.servlet.CreationClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationClient</servlet-name>
    <url-pattern>/creationClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnexionClient</servlet-name>
    <servlet-class>be.garageEnLigne.servlet.ConnexionClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionClient</servlet-name>
    <url-pattern>/connexionClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfficheClient</servlet-name>
    <servlet-class>be.garageEnLigne.servlet.AfficheClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficheClient</servlet-name>
    <url-pattern>/afficheClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listVoiture</servlet-name>
    <servlet-class>be.garageEnLigne.servlet.AfficherVoitures</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listVoiture</servlet-name>
    <url-pattern>/listvoiture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajoutPanier</servlet-name>
    <servlet-class>be.garageEnLigne.servlet.AjoutPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajoutPanier</servlet-name>
    <url-pattern>/ajoutPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AffichePanier</servlet-name>
    <servlet-class>be.garageEnLigne.servlet.GetPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffichePanier</servlet-name>
    <url-pattern>/affichePanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>supprimerVoiture</servlet-name>
    <servlet-class>be.garageEnLigne.servlet.SupprimerVoiture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supprimerVoiture</servlet-name>
    <url-pattern>/supprimer</url-pattern>
  </servlet-mapping>
</web-app>